<header class="header"> Sharing Content on Facebook and Twitter</header>
<div class="content">
Sharing content on social apps is one of the necessities of today's web applications or single-page applications. In this template, I am going to share how can we post content on Facebook and Twitter applications.
<br>
<br>
Below you can see we have Facebook and Twitter icons click on them you will navigate to a corresponding application( Facebook or Twitter).
</div>
<div class="main">
  <app-share-button
    type='facebook'
    [shareUrl]='link'>
  </app-share-button>
  <br>
  <app-share-button
    type='twitter'
    [shareUrl]='link'>
  </app-share-button>
</div>
